.upper {
  text-transform: uppercase;
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.ad {
  font-family: 'Adelle Sans';
}
.ad-bold {
  font-family: 'AdelleSansW04';
  font-weight: bold;
}
.ad-semi {
  font-family: 'AdelleSansW01';
  font-weight: 600;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.dflex {
  display: flex;
}
.underline {
  text-decoration: underline;
}
.df {
  display: flex;
}
.dfw {
  display: flex;
  flex-wrap: wrap;
}
.rel {
  position: relative;
}
.img-white {
  filter: brightness(0) invert(1);
}
.all {
  display: flex;
  align-items: center;
  justify-content: center;
}
.absolute {
  position: absolute;
}
.rotate {
  transform: rotate(180deg);
}
