        @media (max-width:767px) {
            /**********/
            .footer {
                padding: 28px 0px 15px 0px;
                height: 410px;
                background-position: -180px;
            }
            /**********/
            .main_banner .carousel-caption {
                bottom: 0;
                width: 85%;
                left: 8%;
            }
            .stickybar::after {
                height: 82px;
                top: 0;
            }
            .main_header .navbar-collapse {
                background: #fff;
            }
            .top_header_cont {
                position: static;
            }
            .navbar-nav > li > a {
                font-size: 16px;
                text-align: left;
                color: #0C0D0F;
                justify-content: flex-start;
            }
            .mega-dropdown-menu {
                width: 100%;
            }
            .mega-dropdown-menu .row {
                display: block;
            }
            .nav_bottom {
                margin-top:0;
            }
            .navbar-brand img {
                max-width: 74px;
            }
            .navbar-brand img.logoname {
                max-width: 154px;
            }
            .navbar-nav > li {
                position: relative!important;
            }
            .navbar-nav > li::after {
                content: '+';
                position: absolute;
                width: inherit;
                height: inherit;
                background-color: transparent;
                top: 0;
                right: 28px;
                color: #084980;
                font-size: 30px;
            }
            .mega-dropdown-menu:after {
                display: none;
            }
            .mega-dropdown-menu:before {
                display: none;
            }
            .mega-dropdown-menu .two_col .submenu {
                border-left: none;
                padding-left: 20px;
            }
            .mega_col .submenu li a {
                font-size: 16px;
                color: #0C0D0F;
            }
            .main_banner .carousel-caption h2 {
                font-size: 20px;
            }
            .main_banner .carousel-caption h1 {
                font-size: 30px;
            }
            .main_banner .carousel-item img {
                min-height: 485px;
                width: 100%;
            }
            .navBlock .navcol {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #1b5789;
            }
            .navblock_icon {
                float: left;
            }
            .navblock_icon img {
                width: 33px;
            }
            .navBlock_col {
                float: left;
                width: 64%;
                margin:10px 0 16px;
            }
            .navBlock .navBlock_col h4 {
                margin: 0;
                font-size: 14px;
                padding-top: 10px;
                color: #ffffff;
                float: left;
                padding-left: 12px;
            }
            .footer .footer-row {
                display: block;
            }
            .foot_logo {
                text-align: center;
            }
            .foot_logo a {
                font-size: 25px;
                line-height: 30px;
            }
            .footer-adress {
                text-align: center;
                padding-top: 20px;
            }
            .foot_colright {
                padding-bottom: 22px;
            }
            .main_header.withcolor {
                height: auto;
            }
            .no-found-info h2 {
                font-size: 140px;
            }

            .main_breadcrumb {
                left: 0;
            }
            .page_title.no_img {
                min-height: 100px;
            }
            .page_title h1 {
                font-size: 25px;
            }
            .main-tabs ul.nav-tabs li a {
                font-size: 15px;
                width: 170px;
            }
            .filterWrap-meet {
                padding: 0;
                display: block;
            }
            .month-year-col {
                display: block;
            }
            .month-year-col select {
                margin-bottom: 15px;
            }
            .catg-wrap {
                padding-left: 0;
            }
            .main-tabs ul.nav-tabs li a.active::after {
                left: 35px;
                width: 104px;
            }
            .main_acco_title .date_meet {
                min-width: 120px;
                width: 120px;
                font-size: 13px;
            }
            .meeting-content .meeting_panel {
                padding-top: 15px;
            }
            .card_img img {
                width: 100%;
            }
            .map_area .searchFilterBlock {
                padding: 30px 30px;
            }
            .meeting-cancel-txt {
                display: block;
                padding: 10px 0;
            }
            .meeting-cancel-txt .cancel-txt {
                position: static;
            }
            .news_wraper .news_txt {
                padding-top: 15px;
            }
            .filterWrap.dflex {
                display: block;
            }
            .search_filter_title .filter_box.col-one {
                width: 100%;
            }
            .search_filter_title .filter_box {
                padding-right: 5px;
                width: 100%;
            }
            .search_filter_title .filter_box.col-three .reset_link {
                text-align: left;
                margin-top: 9px;
            }
            .newsSort {
                max-width: 100%;
                margin-left: 0;
                margin-top: 12px;
            }
            .main_wrapper > section {
                padding: 30px 0px;
            }
            /******page builder start*****/
            .page_title {
                min-height: 155px;
            }
            .main_breadcrumb.page-builder {
                left: 0;
                top: 238px;
            }
            .generic_middle_block {
                padding-left: 15px;
                padding-right: 15px;
            }
            .cont_inner {
                text-align: center;
            }
            .expanding-grid .links > li {
                width: 100%;
            }
            /******page builder end*****/
            .main_search_content .form-control {
                min-width: auto;
            }
            .main_search_content {
                display: block;
                margin-bottom: 40px;
            }
            .main_search_content h5 {
                margin-bottom: 10px;
                margin-top: 15px;
            }
            .sc_filter {
                display: block;
            }
            .sort_boxResult {
                width: 100%;
            }
            .result_row .rsltBody {
                padding: 20px 20px 10px 20px;
            }
            
        }
        /*****************************************************************************/
        
        @media (max-width:1024px) and (min-width:768px) {
            .sf_col {
                padding-left: 25px;
                padding-right: 25px;
            }
            .sd_content {
                padding-right: 20px;
            }
        }
        
        @media (max-width:992px) {
            .nav_bottom {}
            .navbar-toggler {
                margin-right: 10px;
            }
            .top_menu .top_inner_menu {
                flex-wrap: wrap;
            }
            .navbar-brand {
                margin-left: 15px;
            }
            .navbar-toggler .icon-bar {
                width: 28px;
                height: 2px;
                background: #fff;
                display: block;
                margin-bottom: 5px;
            }
            .navbar-nav {
                margin-top: 10px;
            }
            .navbar-nav>li>a {
                padding: 8px 30px !important;
            }
            .main_wrapper {
                padding-top: 75px;
            }
        }
        
        @media (min-width:992px) {
            .hm-news-row .col-left {
                -ms-flex: 0 0 70%;
                flex: 0 0 70%;
                max-width: 70%;
            }
            .hm-news-row .col-right {
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                max-width: 30%;
            }
        }
        
        @media (min-width:1500px) {
            .container {
                max-width: 1400px;
            }
        }
        
        @media (max-width:1500px) and (min-width:1300px) {}
        
        @media (min-width:992px) {
            .sf_col {
                -ms-flex: 0 0 36%;
                flex: 0 0 36%;
                max-width: 36%;
            }
            .s_cont_col {
                -ms-flex: 0 0 64%;
                flex: 0 0 64%;
                max-width: 64%;
            }
            .map_row .container-fluid {
                padding-left: 50px;
                padding-right: 50px;
            }
            .ct_buttons {
                padding-right: 10%;
            }
        }